:root {
  --primary-color: #3f632e;
  --primary-color-variant: #446a32;
  --secondary-color: #1d215d;
  --secondary-color-variant: #363da9;
  --tertiary-color: #d4e7c5;
}

article.bd-article {
  text-align: justify;
}

.reference.internal {
  color:var(--primary-color);
}

.reference.internal:visited {
  color:var(--primary-color-variant);
}

.reference.external {
  color:var(--secondary-color);
}

.reference.external:visited {
  color:var(--secondary-color-variant);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  text-transform: capitalize;
}

.wy-side-nav-search {
  background-color: var(--primary-color);
}
.wy-side-nav-search input[type="text"] {
  border-color: var(--primary-color);
}


.document .note {
  background-color: var(--primary-color-variant);
}
.document .note .admonition-title {
  background-color: var(--primary-color);
}

.document .tip, .document .hint {
  background-color: var(--secondary-color-variant);
}
.document .tip .admonition-title,
.document .hint .admonition-title {
  background-color: var(--secondary-color);
}

figure {
  width: 25%;
  padding: 0px 0px 0px 30px;
  float: right
}

figcaption {
  font-size: 0.7em;
  text-align: center
}

/* hide "index" entry in generated index */
.genindextable td:has(ul li a[href="#index-0"]) {
  display: none;
}
/* capitalize only first letter of first word
 * (we can't do this on <a/> because ::first-letter is only for block elements)
 */
.genindextable li::first-letter {
  text-transform: uppercase;
}
